In [4]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [5]:
ds_asso= [["소주","콜라","맥주"],
         ["소주","콜라","와인"],
         ["소주","주스"],
         ["콜라","맥주"],
         ["소주","콜라","맥주","와인"],
         ["주스"]]
ds_asso

[['소주', '콜라', '맥주'],
 ['소주', '콜라', '와인'],
 ['소주', '주스'],
 ['콜라', '맥주'],
 ['소주', '콜라', '맥주', '와인'],
 ['주스']]

In [6]:
#items 중 index 0번이 갖고 있으면 True, 아니면 False
enc = TransactionEncoder()
arr = enc.fit_transform(X= ds_asso)
#위의 함수는 데이터를 행렬의 형태로 반환 -> pandas의 DataFrame의 형태로 변환
ds_pre = pd.DataFrame(arr, columns = enc.columns_)
ds_pre

      맥주     소주     와인     주스     콜라
0   True   True  False  False   True
1  False   True   True  False   True
2  False   True  False   True  False
3   True  False  False  False   True
4   True   True   True  False   True
5  False  False  False   True  False

In [7]:
#최소 지지도
min_support = 0.5

#지지도 계산
ds_freq = apriori(ds_pre, min_support = 0.5, use_colnames = True)
ds_freq.round(3)

   support  itemsets
0    0.500      (맥주)
1    0.667      (소주)
2    0.667      (콜라)
3    0.500  (맥주, 콜라)
4    0.500  (소주, 콜라)

In [8]:
#기준 = 신뢰도, 최소 신뢰도 = 0.5
ds_asso_rule = association_rules(ds_freq, metric = "confidence", min_threshold = 0.5)
ds_asso_rule.round(3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(소주),(콜라),0.667,0.667,0.5,0.75,1.125,0.056,1.333000
1,(콜라),(소주),0.667,0.667,0.5,0.75,1.125,0.056,1.333000
2,(맥주),(콜라),0.500,0.667,0.5,1.00,1.500,0.167,inf
3,(콜라),(맥주),0.667,0.500,0.5,0.75,1.500,0.167,2.000000