In [1]:
import pandas as pd
import numpy as np
# Gaussian Naive Bayes 패키지
from sklearn.naive_bayes import GaussianNB

In [3]:
#데이터 불러오기
ds_hmeq = pd.read_csv("../../실습화일/HMEQ.csv")
#데이터 전처리
ds_hmeq.fillna(ds_hmeq.mean(), inplace = True)

#숫자형 변수만 가져오(JOB, REASON변수들은 범주형 이기 때문에 사용하지 못함)
ds_numeric = ds_hmeq.select_dtypes(["int64", "float64"])
ds_numeric.head()

,BAD,LOAN,MORTDUE,VALUE,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1700,30548,40320.0,9.0,0,0.0,101.466002,1.0,8,37.113614
1,1,1800,28502,43034.0,11.0,0,0.0,88.766030,0.0,8,36.884894
2,0,2300,102370,120953.0,2.0,0,0.0,90.992533,0.0,13,31.588503
3,1,2400,34863,47471.0,12.0,0,0.0,70.491080,1.0,21,38.263601
4,0,2400,98449,117195.0,4.0,0,0.0,93.811775,0.0,13,29.681827

In [5]:

#random seed 고정 -> 매번 실행시 같은 값을 얻음
np.random.seed(seed= 1234)
# 0.7(70%) 보다 작으면 True
msk = np.random.rand(ds_hmeq.shape[0]) < 0.7
ds_hmeq_train = ds_numeric[msk]
ds_hmeq_test = ds_numeric[~msk]
#train/test 데이터의 목표변수 설명변수 지정
ds_hmeq_train_y = ds_hmeq_train["BAD"]
ds_hmeq_train_x = ds_hmeq_train.drop("BAD", axis = 1, inplace = False)
ds_hmeq_test_y = ds_hmeq_test["BAD"]
ds_hmeq_test_x = ds_hmeq_test.drop("BAD", axis = 1, inplace = False)

In [6]:
#Gaussian Naive Bayes
naive_model = GaussianNB()
#데이터 적합
naive_model.fit(X = ds_hmeq_train_x, y = ds_hmeq_train_y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [7]:
#사전확률
naive_model.class_prior_.round(3)

array([0.907, 0.093])

In [8]:
#평가(test input 데이터, test label)
print("Accuracy : {0:.3f}".format(naive_model.score(ds_hmeq_test_x, ds_hmeq_test_y)))

Accuracy : 0.922